<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <meta http-equiv="Content-Type" content="text/html"/>
  </head>

  <style>
    /* 印刷時のCSS */
    @media print{
      .input-field {
        display: none;
      }
    }

    /* 通常時のCSS */
    @media screen{
      .input-field-item {
        display: flex;
      }
    }

    .line {
      display: flex;
      width: 189mm;
    }

    img {
      width: 63mm;
      height: 88mm;
      vertical-align: bottom;
      border-radius: 11px;
    }
  </style>

  <body>
    <div id="app">
      <div class="input-field">
        <a href="https://www.pokemon-card.com/card-search/">ポケモン公式のカード検索リンク</a>
        <div v-for="(image, index) in images" class="input-field-item">
          <input v-model="image.link" type="text" />
          <select v-model="image.link">
            <option v-for="card in cards" v-bind:value="card.link">
              {{ card.name }}
            </option>
          </select>
        </div>
      </div>
      <div v-for="image in images" class="line">
        <img :src='image.link' />
        <img :src='image.link' />
        <img :src='image.link' />
      </div>  
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data() {
        return {
          cards: [
            // pokemon
            {name: 'ジラーチ(ねがいぼし)', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SMP/036431_P_JIRACHI.jpg'},
            // goods
            {name: 'ポケギア3.0', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SM9a/036190_T_POKEGIA.jpg'},
            {name: 'リセットスタンプ', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SM10a/036586_T_RISETTOSUTANPU.jpg'},
            // support
            {name: 'グズマ', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SM8b/036041_T_GUZUMA.jpg'},
            {name: 'ブルーの探索', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SM9b/036421_T_BURUNOTANSAKU.jpg'},
            {name: 'リーリエ', link: 'https://www.pokemon-card.com/assets/images/card_images/large/SM4p/035679_T_RIRIE.jpg'},
            // stadium
            // energy
          ],
          images: [
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'},
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'},
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'}
          ]
        }
      },
      methods: {
        inputUrl: function (index, url) {
          this.images[index].link = url
        }
      }
    });
  </script>

</html>