<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <meta http-equiv="Content-Type" content="text/html"/>
  </head>

  <style>
    .link {
      display: flex;
    }

    .line {
      display: flex;
      width: 189mm;
    }

    img {
      width: 63mm;
      height: 88mm;
      vertical-align: bottom;
      border-radius: 11px;
    }
  </style>

  <body>
    <div id="app">
      <div class="link">
        <div v-for="image in images">
          <input v-model="image.link" type="text" />
        </div>
      </div>
      <div v-for="image in images" class="line">
        <img :src='image.link' />
        <img :src='image.link' />
        <img :src='image.link' />
      </div>  
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data() {
        return {
          images: [
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'},
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'},
            {link: 'https://www.pokemon-card.com/assets/images/noimage/poke_ura.jpg'}
          ]
        }
      }
    });
  </script>

</html>